<%= form_for user, html: { class: "modalFormPosition" } do |f| %>
	<span class="whiteAndShadowed niceVerticalSpacing"><%= t :create_account_prompt %></span> 
	<br />

	<%= f.email_field :email, placeholder: t(:email),
	    class: 'defaultInputField niceVerticalSpacing' %>
	<br />

	<%= f.password_field :password, placeholder: t(:password), 
	    class: 'defaultInputField niceVerticalSpacing' %>
	<br />

	<%= f.select :country, user.countries, { include_blank: t(:country_prompt) }, class: 'defaultInputField niceVerticalSpacing' %>
	<br />

	<%= f.select :state, user.states, { include_blank: t(:state_prompt) }, class: 'defaultInputField niceVerticalSpacing' %>
	<br />

	<span class="whiteAndShadowed niceVerticalSpacing">
		<%= t :agreement_prompt %><br/ >
		<a href='terms-and-conditions.html' class="betatrekLink"><%= t :tos %></a>
	</span>
	<br />

	<a href='#close' class='dismiss' title='Close'>
		<span class="link"><%= t :cancel %></span>
	</a>
	<%= f.submit t(:create_account_button), class: "formActionButton niceVerticalSpacing" %>	
<% end %>