<%= render 'shared/dandre' %>
<% provide :description, 'betatrek invitation page, where new users can register to be informed of news pertaining to betatrek.' %>
<% provide :title, 'Invitation' %>
<% provide :page_extensions, 'liquid darkBackground' %>
<div class="dotStockGraphBackground centered">
	<%= render 'shared/error_messages', object: @rsvp %>
	<span class="visuallyhidden">betatrek</span>
	<div class="betatrekBlueMod centered" id="invitationFormMod" >
		<%= form_for @rsvp do |f| %>

			<%= f.text_field :email, placeholder: 'Get Invited', class: "blueGradientBackground rounded", id: "invitationInputField" %>

			<%= f.submit "RSVP", class: "greyGradientBackground rounded", id: "invitationButton" %>
		<% end %>
	</div>
</div>