<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= full_title yield :title %></title>
  <meta name="description" content="<%= yield :description %>">
  <meta name="author" content="<%= yield :author %>">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "debug-styles" if Rails.env.development? %>
  <%= csrf_meta_tags %>

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except this Modernizr build incl. Respond.js
       Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects;
       for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/ -->
  <%= javascript_include_tag "modernizr" %>
</head>

<body class="page liquid">
    <!-- Header bar -->
    <% if signed_in? %>
        <% content_for :first_button do %>
          <%= render partial: 'shared/header_button', locals: { label: t(:sign_out), url: signout_path, method: "delete" } %>
        <% end %>
      <% else %>
        <% content_for :first_button do %>
          <%= render partial: 'shared/header_button', locals: { label: t(:register), url: '' } %>
        <% end %>
        <% content_for :second_button do %>
          <%= render partial: 'shared/sign_in_form' %>
        <% end %>
        <% content_for :third_button do %>
          <%= render partial: 'shared/header_button', locals: { label: t(:sign_in), url: '', id: 'sign_in_button' } %>
        <% end %>
    <% end %>
    <%= render 'shared/header_bar' %>

    <!-- Progress bar (don't forget to provide a :step) -->
    <!--<%= render 'shared/account_creation_progress_bar' %>-->

    <!-- Body -->
    <div class="body <%= yield :body_extensions %>">
      <!-- Messaging -->
      <div id="messages">
        <% flash.each do |key, value| %>
          <%= content_tag :div, class: "alert alert-#{key}" do -%>
            <%= value %> <a class="close" data-dismiss="alert" href="#">&times;</a>
          <% end -%>
        <% end %>
        <%= render 'shared/error_messages', object: @user %>
      </div>
      <div class="main <%= yield :main_extensions %>">  
        <%= yield %>       
      </div>
      <%= debug params if Rails.env.development? %> 
    </div>
    <!-- end Body -->

  <!-- JavaScript at the bottom for fast page loading -->
  <!-- Google Visualization API -->
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <script type="text/javascript" defer>
      google.load("visualization", "1.1", { packages: ["corechart", "controls"] });
      function drawVisualization() {
        var dashboard = new google.visualization.Dashboard(
             document.getElementById('graph'));
      
         var control = new google.visualization.ControlWrapper({
           'controlType': 'ChartRangeFilter',
           'containerId': 'chart-range',
           'options': {
             // Filter by the date axis.
             'filterColumnIndex': 0,
             'ui': {
               'chartType': 'AreaChart',
               'chartOptions': {
                 'chartArea': {'width': '100%'},
                 'hAxis': {'baselineColor': 'none'},
                 'backgroundColor': '#f3f3f3'
               },
               // Display a single series that shows the closing value of the stock.
               // Thus, this view has two columns: the date (axis) and the stock value (line series).
               'chartView': {
                 'columns': [0, 3]
               },
               // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
               'minRangeSize': 86400000
             }
           },
           // Initial range: 2012-02-09 to 2012-03-20.
           'state': {'range': {'start': new Date(2012, 1, 9), 'end': new Date(2012, 2, 20)}}
         });
        
         var chart = new google.visualization.ChartWrapper({
           'chartType': 'AreaChart',
           'containerId': 'chart',
           'options': {
             // Use the same chart area width as the control for axis alignment.
             'chartArea': {'height': '80%', 'width': '100%'},
             'hAxis': {'slantedText': false},
             'vAxis': {'viewWindow': {'min': 0, 'max': 2000}, 'textPosition': 'in', 'format': '$#,###,###,###'},
             'legend': {'position': 'none'},
             'backgroundColor': '#f3f3f3'
           },
           // Convert the first column from 'date' to 'string'.
           'view': {
             'columns': [
               {
                 'calc': function(dataTable, rowIndex) {
                   return dataTable.getFormattedValue(rowIndex, 0);
                 },
                 'type': 'string'
               }, 3]
           }
         });
      
         var data = new google.visualization.DataTable();
         data.addColumn('date', 'Date');
         data.addColumn('number', 'Stock low');
         data.addColumn('number', 'Stock open');
         data.addColumn('number', 'Stock close');
         data.addColumn('number', 'Stock high');
      
         // Create random stock values, just like it works in reality.
         var open, close = 300;
         var low, high;
         for (var day = 1; day < 121; ++day) {
           var change = (Math.sin(day / 2.5 + Math.PI) + Math.sin(day / 3) - Math.cos(day * 0.7)) * 150;
           change = change >= 0 ? change + 10 : change - 10;
           open = close;
           close = Math.max(50, open + change);
           low = Math.min(open, close) - (Math.cos(day * 1.7) + 1) * 15;
           low = Math.max(0, low);
           high = Math.max(open, close) + (Math.cos(day * 1.3) + 1) * 15;
           var date = new Date(2012, 0 ,day);
           data.addRow([date, Math.round(low), Math.round(open), Math.round(close), Math.round(high)]);
         }
      
         dashboard.bind(control, chart);
         dashboard.draw(data);
      }
      

      google.setOnLoadCallback(drawVisualization);
    </script>

    <!--<script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Sold Pencils');
        data.addColumn('string', 'title1');
        data.addColumn('string', 'text1');
        data.addColumn('number', 'Sold Pens');
        data.addColumn('string', 'title2');
        data.addColumn('string', 'text2');
        data.addRows([
          [new Date(2008, 1 ,1), 30000, undefined, undefined, 40645, undefined, undefined],
          [new Date(2008, 1 ,2), 14045, undefined, undefined, 20374, undefined, undefined],
          [new Date(2008, 1 ,3), 55022, undefined, undefined, 50766, undefined, undefined],
          [new Date(2008, 1 ,4), 75284, undefined, undefined, 14334, 'Out of Stock','Ran out of stock on pens at 4pm'],
          [new Date(2008, 1 ,5), 41476, 'Bought Pens','Bought 200k pens', 66467, undefined, undefined],
          [new Date(2008, 1 ,6), 33322, undefined, undefined, 39463, undefined, undefined]
        ]);

        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        chart.draw(data, {displayAnnotations: false, options: {'wmode': 'transparent'}});
      }
    </script>-->
  <%= javascript_include_tag "application", defer: 'defer' %>
  <!-- end scripts -->


  <% if Rails.env.production? %>
  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script async>
    var _gaq=[['_setAccount','UA-27225736-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <% end %>

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
